# Laravel default ignores
/vendor
/node_modules
/public/storage
/storage/*.key
/.phpunit.result.cache
/.phpunit.cache
.env
.env.backup
.env.production
.htaccess

# Build artifacts
/public/build
/public/hot

# Homestead & auth
Homestead.json
Homestead.yaml
auth.json

# Log and debug files
npm-debug.log
yarn-error.log

# IDE/Editor settings
/.idea
/.vscode
/.fleet

# Custom folders to ignore
the_full_application/MyWorkingFiles/
/public/special_school_files/
/storage/
the_full_application/storage/
