Sanctioned Post								

HM/Principal/Sr. SES
Trained Graduate
Trained Intermediate
Trained Matric
MCD/DHLS
Craft Teacher
ART Teacher
PET
Music Teacher
Mobility Teacher
Matron/Warden
Clerk/Accountant
Cook
Attendent
Sweeper/Watch Man
//////////////////////////
Name And Address of Management
//////////////////////////
Date Of Establishment of School
/////////////////////////
Category of School

VI
HI
MR/ID
CP
ASD
/////////////////
Type Of School

Residentials
Non Residential

///////////
Date Of Birth
Date Of Engagement

///////////
Regular
Contractual
Part-Time

/////////
Regd No of PWD Act 1995/RPwD Act 2016